@page

@model LubeSoft.Pages.EditVehicleModel
@{
    ViewData["Title"] = "LubeSoft";
}



<br />
<br />
<form method="post">

    <input hidden asp-for="vehicleDetail.Id" />

    <div class="container bg-white">
        <br />
        <div class="row">
            <div class=" col12">
                <p class="fs-3 text-center">Edit Vehicle</p>
            </div>
        </div>


        <div class="row">
            <div class=" col12">
                <table id="example" class="table nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Vehicle ID</th>
                            <th>Customer Name</th>
                            <th>Phone</th>
                            <th>Vehicle Description</th>
                            <th>VIN</th>
                            <th>Last Service</th>
                        </tr>
                    </thead>
                    <tbody>



                        <tr>
                            <td>
                                <input asp-for="vehicleDetail.Vehicle_Id" class="form-control" />
                                <span asp-validation-for="vehicleDetail.Vehicle_Id" class="text-danger"></span>
                            </td>
                            <td>
                                <input asp-for="vehicleDetail.Customer_Name" class="form-control" />
                                <span asp-validation-for="vehicleDetail.Customer_Name" class="text-danger"></span>

                            </td>
                            <td>
                                <input asp-for="vehicleDetail.Phone" class="form-control" />
                                <span asp-validation-for="vehicleDetail.Phone" class="text-danger"></span>

                            </td>
                            <td>
                                <input asp-for="vehicleDetail.Vehicle_Details" class="form-control" />
                                <span asp-validation-for="vehicleDetail.Vehicle_Details" class="text-danger"></span>

                            </td>
                            <td>
                                <input asp-for="vehicleDetail.VIN" class="form-control" />
                                <span asp-validation-for="vehicleDetail.VIN" class="text-danger"></span>

                            </td>

                            <td>
                                <input asp-for="vehicleDetail.Service_Date" class="form-control" />
                                <span asp-validation-for="vehicleDetail.Service_Date" class="text-danger"></span>

                            </td>
                        </tr>



                    </tbody>

                </table>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-page="/Index" class="btn btn-primary">Cancel</a>
            </div>
        </div>

    </div>



</form>

<script type="text/javascript">

    document.onkeypress = keyPress;

   
       
    function keyPress(e) {
        
        if (e.ctrlKey && e.code == 'KeyZ') {        
            
            history.back();
        }
    }
   
    
   
</script>

