<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LubeSoft</title>
   
<script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <div class="container">
        <div class="row bg-pink">
            <div class="col-2" style="padding:0 !important;">
                <header>
                    
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark-pink bg-white border-bottom box-shadow">
                        <div class="container">
                            <a class="navbar-brand text-white" asp-area="" asp-page="/Index">LubeSoft</a>

                        </div>
                    </nav>
                </header>
            </div>
            <div class="col-10"></div>
            </div>
            <div class="container" style="padding:0px !important;">



                <div class="row" >
                    <div class="col-2 text-pink" style="background: #F8F9FA; border-right: 1px solid #b6bec6; height:600px; ">
                        <ul class="list-group">
                            <li class="list-items">Home</li>
                            <li class="list-items text-black" >Work Order</li>
                            <li class="list-items">Custormer</li>
                            <li class="list-items">ESM</li>
                            <li class="list-items">Services</li>
                            <li class="list-items">Vehicle</li>
                            <li class="list-items">Fleet</li>
                            <li class="list-items">Warning</li>
                            <li class="list-items">Club</li>
                            <li class="list-items">To Bay</li>
                            


                        </ul>

                    </div>
                    <div class="col-10" style="background: #F8F9FA;" >@RenderBody()</div>
                </div>

                

            </div>

            <script src="~/lib/bootstrap/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
